[submodule "public"]
	path = public
	url = https://github.com/LazyBonesLZ/LazyBonesLZ.github.io.git
	branch = master
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/LazyBonesLZ/maupassant-hugo.git
