[submodule "public"]
	path = public
	url = git@github.com:LazyBonesLZ/LazyBonesLZ.github.io.git
	branch = master
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = git@github.com:LazyBonesLZ/maupassant-hugo.git
